In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
df=pd.read_csv("./kc_house_data.csv",index_col="id")

In [4]:
df_og=df.copy()

In [5]:
df.shape

(21613, 20)

In [6]:
df.head(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  object
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.5+ MB

Change from object to datetime

In [8]:
df["date"]=pd.to_datetime(df["date"])

In [9]:
df.drop(columns=["lat","long","zipcode"],inplace=True)

In [10]:
df_arr=df.reindex(sorted(df.columns),axis=1)
df_arr

,bathrooms,bedrooms,condition,date,floors,grade,price,sqft_above,sqft_basement,sqft_living,sqft_living15,sqft_lot,sqft_lot15,view,waterfront,yr_built,yr_renovated
id,,,,,,,,,,,,,,,,,
7129300520,1.00,3,3,2014-10-13,1.0,7,221900.0,1180,0,1180,1340,5650,5650,0,0,1955,0
6414100192,2.25,3,3,2014-12-09,2.0,7,538000.0,2170,400,2570,1690,7242,7639,0,0,1951,1991
5631500400,1.00,2,3,2015-02-25,1.0,6,180000.0,770,0,770,2720,10000,8062,0,0,1933,0
2487200875,3.00,4,5,2014-12-09,1.0,7,604000.0,1050,910,1960,1360,5000,5000,0,0,1965,0
1954400510,2.00,3,3,2015-02-18,1.0,8,510000.0,1680,0,1680,1800,8080,7503,0,0,1987,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,2.50,3,3,2014-05-21,3.0,8,360000.0,1530,0,1530,1530,1131,1509,0,0,2009,0
6600060120,2.50,4,3,2015-02-23,2.0,8,400000.0,2310,0,2310,1830,5813,7200,0,0,2014,0
1523300141,0.75,2,3,2014-06-23,2.0,7,402101.0,1020,0,1020,1020,1350,2007,0,0,2009,0
291310100,2.50,3,3,2015-01-16,2.0,8,400000.0,1600,0,1600,1410,2388,1287,0,0,2004,0
1523300157,0.75,2,3,2014-10-15,2.0,7,325000.0,1020,0,1020,1020,1076,1357,0,0,2008,0

In [11]:
df.duplicated().sum()

0

In [12]:
# age = []
# for index in df.index:
#     if df["yr_renovated"].loc[index].all() == 0:
#         age1 = 2023 - df["yr_built"].loc[index]
#     else:
#         age1 = 2023 - df["yr_renovated"].loc[index]
#     age.append(age1)
# pass

In [13]:
df.head(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,4760,101930
1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,2238,6819
2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,1650,9711
2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,1780,8113
3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,2390,7570

Renovated House

In [14]:
yr_reno=df["yr_renovated"].replace(0,np.nan)
yr_reno.value_counts().sum()

914

Uniques of categorical

In [15]:
df_check=df[
    ["date",
     "price",
        "bedrooms",
        "sqft_living",
        "sqft_lot",
        "floors",
        "waterfront",
        "view",
        "condition",
        "grade",
        "sqft_above",
        "sqft_basement",
        "yr_built",
        "yr_renovated",
        "sqft_living15",
        "sqft_lot15",
    ]
].replace(0, np.nan)

In [16]:
df_check.head()

,date,price,bedrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3.0,1180,5650,1.0,NaN,NaN,3,7,1180,NaN,1955,NaN,1340,5650
6414100192,2014-12-09,538000.0,3.0,2570,7242,2.0,NaN,NaN,3,7,2170,400.0,1951,1991.0,1690,7639
5631500400,2015-02-25,180000.0,2.0,770,10000,1.0,NaN,NaN,3,6,770,NaN,1933,NaN,2720,8062
2487200875,2014-12-09,604000.0,4.0,1960,5000,1.0,NaN,NaN,5,7,1050,910.0,1965,NaN,1360,5000
1954400510,2015-02-18,510000.0,3.0,1680,8080,1.0,NaN,NaN,3,8,1680,NaN,1987,NaN,1800,7503

In [17]:
df_check.isna().sum()

date                 0
price                0
bedrooms            13
sqft_living          0
sqft_lot             0
floors               0
waterfront       21450
view             19489
condition            0
grade                0
sqft_above           0
sqft_basement    13126
yr_built             0
yr_renovated     20699
sqft_living15        0
sqft_lot15           0
dtype: int64

In [18]:
df_check.nunique()

date              372
price            4028
bedrooms           12
sqft_living      1038
sqft_lot         9782
floors              6
waterfront          1
view                4
condition           5
grade              12
sqft_above        946
sqft_basement     305
yr_built          116
yr_renovated       69
sqft_living15     777
sqft_lot15       8689
dtype: int64

With the result of nunique we can see that we may need to only replace 0 with nan for the numerical variable and keep the categorical ones as it is

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  sqft_living15  21613 non-null  int64
 16  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(13)
memory usage: 3.0 MB

In [20]:
# df_cate = df[["waterfront", "view", "condition", "grade"]].astype("category")

In [21]:
# df_cate.info()

In [22]:
# df_cate.isna().sum()

In [23]:
df_date=df["date"]

In [24]:
df[
    [
        "price",
        "bedrooms",
        "floors",
        "sqft_above",
        "sqft_basement",
        "yr_built",
        "yr_renovated",
        "sqft_living15",
        "sqft_lot15",
    ]
] = df[
    [
        "price",
        "bedrooms",
        "floors",
        "sqft_above",
        "sqft_basement",
        "yr_built",
        "yr_renovated",
        "sqft_living15",
        "sqft_lot15",
    ]
].replace(
    to_replace=0, value=np.nan
)

In [25]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,NaN,1955,NaN,1340,5650
6414100192,2014-12-09,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400.0,1951,1991.0,1690,7639
5631500400,2015-02-25,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,NaN,1933,NaN,2720,8062
2487200875,2014-12-09,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910.0,1965,NaN,1360,5000
1954400510,2015-02-18,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,NaN,1987,NaN,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,2014-05-21,360000.0,3.0,2.50,1530,1131,3.0,0,0,3,8,1530,NaN,2009,NaN,1530,1509
6600060120,2015-02-23,400000.0,4.0,2.50,2310,5813,2.0,0,0,3,8,2310,NaN,2014,NaN,1830,7200
1523300141,2014-06-23,402101.0,2.0,0.75,1020,1350,2.0,0,0,3,7,1020,NaN,2009,NaN,1020,2007
291310100,2015-01-16,400000.0,3.0,2.50,1600,2388,2.0,0,0,3,8,1600,NaN,2004,NaN,1410,1287
1523300157,2014-10-15,325000.0,2.0,0.75,1020,1076,2.0,0,0,3,7,1020,NaN,2008,NaN,1020,1357

In [26]:
df.isna().sum()

date                 0
price                0
bedrooms            13
bathrooms            0
sqft_living          0
sqft_lot             0
floors               0
waterfront           0
view                 0
condition            0
grade                0
sqft_above           0
sqft_basement    13126
yr_built             0
yr_renovated     20699
sqft_living15        0
sqft_lot15           0
dtype: int64

In [27]:
df["basement"]=df["sqft_basement"].notna()*int(1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21600 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  8487 non-null   float64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   914 non-null    float64
 15  sqft_living15  21613 non-null  int64
 16  sqft_lot15     21613 non-null  int64
 17  basement       21613 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(10)
memory usage: 3.1 MB

In [28]:
df["renovated"]=df["yr_renovated"].notna()*int(1)

In [29]:
df["age"]=2023-df["yr_built"]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21600 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  8487 non-null   float64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   914 non-null    float64
 15  sqft_living15  21613 non-null  int64
 16  sqft_lot15     21613 non-null  int64
 17  basement       21613 non-null  int32
 18  renovated      21613 non-null  int32
 19  age            21613 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(11)
memory usage: 3.3 MB

In [31]:
df.drop(columns=["sqft_basement","yr_renovated","yr_built"],inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21600 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_living15  21613 non-null  int64
 13  sqft_lot15     21613 non-null  int64
 14  basement       21613 non-null  int32
 15  renovated      21613 non-null  int32
 16  age            21613 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(10)
memory usage: 2.8 MB

In [33]:
df["bedrooms"].isna().sum()

13

In [34]:
(df["bedrooms"]==).sum()

SyntaxError: invalid syntax (3041459725.py, line 1)

In [ ]:
df.loc[df["bedrooms"].isna()]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_living15,sqft_lot15,basement,renovated,age
id,,,,,,,,,,,,,,,,,
6306400140,2014-06-12,1095000.0,NaN,0.00,3064,4764,3.5,0,2,3,7,3064,2360,4000,0,0,33
3918400017,2015-02-05,380000.0,NaN,0.00,1470,979,3.0,0,2,3,8,1470,1470,1399,0,0,17
1453602309,2014-08-05,288000.0,NaN,1.50,1430,1650,3.0,0,0,3,7,1430,1430,1650,0,0,24
6896300380,2014-10-02,228000.0,NaN,1.00,390,5900,1.0,0,0,2,4,390,2170,6000,0,0,70
2954400190,2014-06-24,1295650.0,NaN,0.00,4810,28008,2.0,0,0,3,12,4810,4740,35061,0,0,33
2569500210,2014-11-17,339950.0,NaN,2.50,2290,8319,2.0,0,0,3,8,2290,2500,8751,0,0,38
2310060040,2014-09-25,240000.0,NaN,2.50,1810,5669,2.0,0,0,3,7,1810,1810,5685,0,0,20
3374500520,2015-04-29,355000.0,NaN,0.00,2460,8049,2.0,0,0,3,8,2460,2520,8050,0,0,33
7849202190,2014-12-23,235000.0,NaN,0.00,1470,4800,2.0,0,0,3,7,1470,1060,7200,0,0,27
7849202299,2015-02-18,320000.0,NaN,2.50,1490,7111,2.0,0,0,3,7,1490,1500,4675,0,0,24
9543000205,2015-04-13,139950.0,NaN,0.00,844,4269,1.0,0,0,4,7,844,1380,9600,0,0,110
1222029077,2014-10-29,265000.0,NaN,0.75,384,213444,1.0,0,0,3,4,384,1920,224341,0,0,20
3980300371,2014-09-26,142000.0,NaN,0.00,290,20875,1.0,0,0,1,1,290,1620,22850,0,0,60

Fill missing value with Median

In [ ]:
df["bedrooms"].fillna(df["bedrooms"].median(),inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  category
 8   view           21613 non-null  category
 9   condition      21613 non-null  category
 10  grade          21613 non-null  category
 11  sqft_above     21613 non-null  int64
 12  sqft_living15  21613 non-null  int64
 13  sqft_lot15     21613 non-null  int64
 14  basement       21613 non-null  category
 15  renovated      21613 non-null  category
 16  age            21613 non-null  int64
dtypes: category(6), datetime64[ns](1), float64(4), int64(6)
memory usage: 2.1 MB

In [ ]:
# import sweetviz as sw

In [ ]:
# df_report=sw.analyze(source=df)
# df_report.show_notebook(scale=1)

In [ ]:
df[["waterfront", "view", "condition", "grade", "basement", "renovated"]] = df[
    ["waterfront", "view", "condition", "grade", "basement", "renovated"]
].astype("category")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  float64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  category
 8   view           21613 non-null  category
 9   condition      21613 non-null  category
 10  grade          21613 non-null  category
 11  sqft_above     21613 non-null  int64
 12  sqft_living15  21613 non-null  int64
 13  sqft_lot15     21613 non-null  int64
 14  basement       21613 non-null  category
 15  renovated      21613 non-null  category
 16  age            21613 non-null  int64
dtypes: category(6), datetime64[ns](1), float64(4), int64(6)
memory usage: 2.1 MB

In [35]:
df_capped=df.copy()

In [ ]:
for column in df_capped.select_dtypes(include='number').columns.tolist() :
    Q1 = data1[column].quantile(0.25)
    Q3 = data1[column].quantile(0.75)
    IQR = Q3 - Q1
    max_limit = Q3 + (1.5 * IQR)
    min_limit = Q1 - (1.5 * IQR) 
    data1[column] = pd.DataFrame(np.where(data1[column] > max_limit, max_limit, 
         (np.where(data1[column] < min_limit, min_limit, data1[column]))), columns=[column])